<div class="nav">
  <h1>QR code generator</h1>
</div>

<div class="container">
  <div class="row">
    <div class="parameters">
      <div class="qrvalue">
        <label for="qrvalue">Twój tekst</label>
        <input id="qrvalue" type="text" [(ngModel)]="value" />
      </div>
      <div class="colorpicker">
        <input
          type="color"
          class="qrcolorpicker"
          id="qrcolorpicker"
          [(colorPicker)]="qrcolor"
          [style.background]="qrcolor"
        />
        <label for="qrcolorpicker">Wybierz kolor QR: </label>
        <br />
        <input
          type="color"
          class="qrcolorpickerbg"
          id="qrcolorpickerbg"
          [(colorPicker)]="bgcolor"
          [style.background]="bgcolor"
        />
        <label for="qrcolorpickerbg">Wybierz kolor tła: </label>
      </div>
      <br /><br />

      <label for="scale">Wybierz wielkość: </label><br />
      <input
        type="range"
        class="scale"
        id="scale"
        [(ngModel)]="scale"
        min="3"
        max="15"
      />
      <br />

      <label for="level">Korekcja błędów: </label>
      <br />
      <input
        type="range"
        class="level"
        id="level"
        [(ngModel)]="selectedLevel"
        min="1"
        max="4"
        (change)="getNewLevel()"
      />

    </div>
    <div class="qrcodepreview" #imgqr>
      <ngx-qrcode
        [elementType]="elementType"
        [errorCorrectionLevel]="correctionLevel"
        [value]="value"
        [margin]="margin"
        [colorDark]="qrcolor"
        [colorLight]="bgcolor"
        [scale]="scale"
        [margin]="3"
        cssClass="coolQRCode"
      >
      </ngx-qrcode>
      <button (click)="saveQrCode()">Save</button>
    </div>
  </div>

</div>
